// COLORS
$color-white: white;
$color-black: black;
$color-gray: #423f3f;
$color-red: #ca2250;
$color-light: #f3f3f3;
$color-pin-red: $color-red;
$color-pin-blue: #5b4481;

// SCREENS
$lg: 1024px;
$md: 768px;
$sm: 640px;

// TIMES
$default-time: 0.2s;
